body {font-size: .9rem!important }

.badge {
    width: 90%!important
}
.btn {
    width: 100%!important;
    font-size: 0.7rem!important;
}

.form-control {max-width: 95px!important;
               max-height: 28px!important;
               font-size : .9rem!important;
}

input[type="number"]:disabled, input[type="date"]:disabled {
    background-color: transparent!important;
}




